[submodule "public"]
	path = public
	url = https://github.com/paulshilling/paulshilling.github.io
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
